.partenariat {
    max-width: 1400px;
    margin: 60px auto;
    padding: 0 20px;
    text-align: center;
}

.partenaires-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espace entre les lignes */
    align-items: center;
    margin-top: 40px;
}

.partenaires-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px; /* Espace entre les logos d'une même ligne */
    width: 100%;
}

/* Taille du logo principal (Top) */
.partenaires-row.principal img {
    height: 120px;
    filter: grayscale(100%); /* Optionnel : logos en gris qui s'allument au survol */
    transition: 0.3s;
}

/* Taille des partenaires moyens */
.partenaires-row.majeurs img {
    height: 60px;
    filter: grayscale(100%);
    transition: 0.3s;
}

/* Taille des petits partenaires */
.partenaires-row.techniques img {
    height: 35px;
    filter: grayscale(100%);
    gap: 30px;
    transition: 0.3s;
}

/* Effet au survol : les logos reprennent leurs couleurs */
.partenaires-row img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}